
  <!DOCTYPE html>
  <html lang="en">
    <head>
      
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>AI Recruitment Platform Design</title>
      <meta name="description" content="Streamline recruitment with an AI-powered platform that enhances candidate evaluation and CV analysis, empowering recruiters and job seekers alike." />
      <meta name="robots" content="noindex, nofollow" />
      <style>html, body { height: 100%; margin: 0; } #root { height: 100%; }</style>
      
      <script type="module" crossorigin src="/assets/index-B48POEWD.js"></script>
      <link rel="stylesheet" crossorigin href="/assets/index-MzRnbWrq.css">
    </head>

    <body>
      
      <div id="root"></div>
      
    </body>
  </html>
  